$link: #2f59c2;

body {
    background-color: #fffe65;
    font-family: "Programme";
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

#top-text {
    position: relative;
    left: 30px;
    top: 10px;
}

ul {

  &.proj-list {
    list-style-type: "- ";
  }

  &.versions {
    list-style-type: "# ";
  }

  &.categories {
    list-style-type: "» ";
  }

  &.featurs {
    list-style-type: circle;
  }
}

.done {
  color: #1cc674
}

.in-progress {
  color: #f65753
}

.href-effect {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: $link;
    font-size: 20px;
    &::after {
      content: "";
      background: rgba($link, 0.25);
      position: absolute;
      left: 12px;
      bottom: -6px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      z-index: -1;
      transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    }
    &:hover:after {
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 100%;
    }
}